<div class="ui blue segment">
  <h3>Filter form</h3>
  <div class="ui divider"></div>
  <form (ngSubmit)="onSubmit()" [formGroup]="filter_form" class="ui form">
    <div class="fields">
      <div class="four wide field">
        <label>Authorized</label>
        <select formControlName="is_verified">
          <option value="">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="four wide field">
        <label>Amount</label>
        <input formControlName="amount" type="number">
      </div>
      <div class="four wide field">
        <label>Max amount</label>
        <input formControlName="max_amount" type="number">
      </div>
      <div class="four wide field">
        <label>Min amount</label>
        <input formControlName="min_amount" type="number">
      </div>
    </div>
    <div class="fields">
      <div class="four wide field">
        <label>Added after</label>
        <input formControlName="added_after" type="date">
      </div>
      <div class="four wide field">
        <label>Added before</label>
        <input formControlName="added_before" type="date">
      </div>
      <div class="four wide field">
        <label>Expend time after</label>
        <input formControlName="expend_date_after" type="date">
      </div>
      <div class="four wide field">
        <label>Expend time before</label>
        <input formControlName="expend_date_before" type="date">
      </div>
    </div>
    <div class="fields">
      <div class="four wide field">
        <label>Added date</label>
        <input formControlName="added_date" type="date">
      </div>
      <div class="four wide field">
        <label>Heading name</label>
        <select formControlName="heading">
          <option value="">All</option>
          <option value="{{ heading }}" *ngFor="let heading of all_headings">{{ heading }}</option>
        </select>
      </div>
      <div class="four wide field">
        <label>Search</label>
        <input formControlName="search" type="text">
      </div>
      <div class="four wide field">
        <label>Ordering</label>
        <select formControlName="ordering">
          <option value="">No ordering</option>
          <option value="added">Added - Ascending</option>
          <option value="-added">Added - Descending</option>
          <option value="expend_date">Expend time - Ascending</option>
          <option value="-expend_date">Expend time - Descending</option>
          <option value="amount">Amount - Ascending</option>
          <option value="-amount">Amount - Descending</option>
          <option value="expend_heading__heading_name">Heading name - Ascending</option>
          <option value="-expend_heading__heading_name">Heading name - Descending</option>
        </select>
      </div>
    </div>
    <button class="ui labeled icon blue button" type="submit"><i class="filter icon"></i>Filter</button>
  </form>
</div>