<div class="ui top fixed inverted mini borderless menu">
  <div class="ui container">
    <a class="item" data-inverted="" data-tooltip="Dashboard" data-position="bottom left"
    [routerLink]="[ '/dashboard' ]" routerLinkActive="active">
      <i class="dashboard icon"></i>
    </a>
    <a class="item" data-inverted="" data-tooltip="Manage sub users" data-position="bottom left">
      <i class="address book outline icon"></i>
    </a>
    <a class="item" data-inverted="" data-tooltip="Manage fund settings" data-position="bottom left">
      <i class="cog icon"></i>
    </a>
    <div class="right menu">
      <a class="item" data-inverted="" data-tooltip="Your profile" data-position="bottom left">
        <i class="user icon"></i>
      </a>
      <a class="item" data-inverted="" data-tooltip="Your profile settings" data-position="bottom left">
        <i class="settings icon"></i>
      </a>
      <a class="item" data-inverted="" data-tooltip="Sign out now" data-position="bottom left">
        <i class="logout icon"></i>
      </a>
    </div>
  </div>
</div>