[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==2.3.2"
attrs = "==18.2.0"
autobahn = "==19.1.1"
certifi = "==2018.11.29"
channels = "==2.1.6"
chardet = "==3.0.4"
constantly = "==15.1.0"
daphne = "==2.2.4"
defusedxml = "==0.5.0"
django-allauth = "==0.38.0"
django-cors-headers = "==2.4.0"
django-crispy-forms = "==1.7.2"
django-filter = "==2.0.0"
django-rest-auth = "==0.9.3"
django-sendgrid-v5 = "==0.7.0"
djangorestframework = "==3.9.0"
djangorestframework-jwt = "==1.11.0"
future = "==0.17.1"
hyperlink = "==18.0.0"
idna = "==2.8"
incremental = "==17.5.0"
oauthlib = "==2.1.0"
python3-openid = "==3.1.0"
pytz = "==2018.9"
requests = "==2.21.0"
requests-oauthlib = "==1.1.0"
sendgrid = "==5.6.0"
six = "==1.12.0"
txaio = "==18.8.1"
urllib3 = "==1.24.1"
async_timeout = "==3.0.1"
Automat = "==0.7.0"
Django = "==2.1.5"
Pillow = "==8.3.2"
PyHamcrest = "==1.9.0"
PyJWT = "==1.7.1"
python_http_client = "==3.1.0"
Twisted = "==18.9.0"
"zope.interface" = "==4.6.0"
xhtml2pdf = "*"
django-extensions = "*"
django-rest-multiple-models = "*"
psycopg2 = "*"
cryptography = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
