<div class="ui segment">
  <h3>Add expenditure record</h3>
  <div class="ui divider"></div>
  <div class="ui error message" *ngIf="!fund_not_locked">
    <div class="header">
      Fund is Locked
    </div>
    Currently the Fund is locked.
  </div>
  <div class="ui error message" *ngIf="get_form_error">
    <div class="header">
      Error occured
    </div>
    Some errors occured while you were adding record.
  </div>
  <form class="ui form" [formGroup]='form' (ngSubmit)="onSubmit()">
    <div class="field" [ngClass]="{'error': expend_heading.touched && expend_by.invalid}">
      <label>Expend Heading</label>
      <select formControlName="expend_heading">
        <option value="{{ data.id }}" *ngFor="let data of all_headings">{{ data.heading_name }}</option>
      </select>
    </div>
    <div class="field" [ngClass]="{'error': expend_by.touched && expend_by.invalid}">
      <label>Expend by</label>
      <input type="text" formControlName="expend_by" placeholder="Expend by">
    </div>
    <div class="field" [ngClass]="{'error': description.touched && expend_by.invalid}">
      <label>Description</label>
      <textarea formControlName="description" placeholder="Description"></textarea>
    </div>
    <div class="field" [ngClass]="{'error': amount.touched && expend_by.invalid}">
      <label>Amount</label>
      <input type="number" formControlName="amount" placeholder="Amount">
    </div>
    <div class="field" [ngClass]="{'error': expend_time.touched && expend_by.invalid}">
      <label>Expend Date & Time</label>
      <input type="datetime-local" formControlName="expend_time" placeholder="Expend Date & Time">
    </div>
    <button class="ui labeled icon button purple" type="submit"><i class="add icon"></i>Add record</button>
    <button class="ui right labeled icon button red" type="reset"><i class="redo icon"></i>Reset</button>
  </form>
  <div class="ui warning message">
    <div class="header">
      Important
    </div>
    In the form all fields are must be filled and valid.
  </div>
</div>