<div class="ui segment">
  <h3>Add expenditure records</h3>
  <form action="" class="ui form">
    <div class="field">
      <label>Expend by</label>
      <input type="text" name="expend_by" placeholder="Expend by">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="description" placeholder="Description"></textarea>
    </div>
    <div class="field">
      <label>Amount</label>
      <input type="number" name="amount" placeholder="Amount">
    </div>
    <div class="field">
      <label>Expend Date & Time</label>
      <input type="datetime-local" name="expend_time" placeholder="Expend Date & Time">
    </div>
    <div class="field">
      <label>Gender</label>
      <div class="field">
        <select>
          <option value="">Gender</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </div>
    </div>
    <button class="ui button purple fluid">Add record</button>
  </form>
</div>